[2018-11-19 10:10] ReactNativeFan opened #1 "There's a problem with this sticker pack and it can't be added to WhatApp."
Hi,
Thank you for this quick nice integration work.!

I successfully integrated your module. I added 5 stickers to stickerConfig.js. The stickers are compliant with WhatsApp rules. I tested them on WhatsApp template and load fine in WhatsApp. When i send them using your code snippet. I got the following messages after WhatsApp opens:

1. "Importing Sticker Pack"
2. Then, "There's a problem with th

[2018-11-20 07:13] ReactNativeFan commented on #1
The problem disappeared after installing the latest Xcode 10 updates and clearing the DerivedData folder
rm -rf ~/Library/Developer/Xcode/DerivedData

[2018-11-20 07:13] #1 closed

[2018-11-20 11:13] Q8hma opened #2 "update for android"
hello
thanks for this and im asking when it will be available in android ?
thanks and best regard

[2018-11-20 17:47] Jobeso commented on #2
Hey @Q8hma,
currently working on it. Can't tell you when it will be done. The android part is working completely different that iOS so I need to figure out a good way for a common react-native api to use.

[2018-11-21 00:54] chbaluch commented on #2
Is the iOS working?

[2018-11-21 08:40] Jobeso commented on #2
@Q8hma First android support is in master. The common api is not that great yet but everything works. I will publish a new release probably today.

@chbaluch yes, iOS is working

[2018-11-21 14:32] yoandypv opened #3 "iOS error in method sendToWhatsApp"
He, in file StickerPack.swift, method sendToWhatsap (line 183), the specific line self.trayImage.image!.pngData()?.base64EncodingString() say the following error: UIImage has no member 'pngData'

I 'm using XCode 9.

Cheers,

[2018-11-21 15:39] Jobeso commented on #2
version 1.1.0 with android support is now live

[2018-11-21 15:39] #2 closed

[2018-11-21 15:58] Jobeso commented on #3
Hey @yoandypv,
can you try to open the [example app](https://github.com/WhatsApp/stickers) from WhatsApp and see if you can compile this. I am suggesting this to see if this is a XCode 9 problem. The `StickerPack.swift` file is one of the files written by the WhatsApp Team.

[2018-11-22 12:20] techacorntest1 opened #4 "App crash after installing module"
it gives error java.lang.RuntimeException: Unable to get provider com.jobeso.RNWhatsAppStickers.StickerContentProvider: java.lang.RuntimeException: contents.json file has some issues: Use JsonReader.setLenient(true) to accept malformed JSON at line 26 column 10

please,help me..

[2018-11-22 17:32] Jobeso commented on #4
Hey @techacorntest1 ,
sorry to hear that you are having trouble using the module. Can you please paste the content of your `contents.json` file and also the output of `react-native info` here.

[2018-11-23 08:34] techacorntest1 commented on #4
The content of my contens.json is as below:
{
  "android_play_store_link": "https://play.google.com/store/apps/details?id=com.myapp",
  "ios_app_store_link": "https://itunes.apple.com/app/myapp/id123456",
  "sticker_packs": [
    {
      "identifier": "myprojectstickers",
      "name": "MyProject Stickers",
      "publisher": "John Doe",
      "tray_image_file": "tray_icon.png",
      "publisher_e

[2018-11-23 10:45] Jobeso commented on #4
Hey @techacorntest1,
I see that you are pretty new on github so I edited your comment with better formatting. Here is some information on [how to format](https://help.github.com/articles/basic-writing-and-formatting-syntax/) your infos on github.

To your problem: The last entry in the stickers array has a comma that doesn't belong there (line 26). You also see that hint in your error description.

[2018-11-23 14:56] mukeshphulwani66 opened #5 "Expo support"
## Discussiom
How to setup dev environment with expo?

[2018-11-23 17:02] Jobeso commented on #5
Can you elaborate how it is possible to use native third party code with expo?
I never used expo because of the limitations that you are not able to integrate native code so I'm curious how it is possible. So I can have a look at it and see what it takes to make this project compatible.

[2018-11-24 12:12] techacorntest1 opened #6 "I can't send sticker on whatsup"
i got this Toast in Android when i send it:
There's a problem with this sticker pack and it can'be added to WhatsApp.

[2018-11-24 13:43] gustafsilva commented on #5
I think it would be necessary to **Ejecting** the application, it has the [official react documentation](https://github.com/react-community/create-react-native-app/blob/master/EJECTING.md) that explains about it but I never had to do it, but I will try for a new project :smile:

[2018-11-24 15:34] Jobeso commented on #6
Hey,
this means that something is not right with your sticker pack or the configuration around it. When you create an issue, please follow the templates. So to be able to help you please post the content of `react-native info` (execute this in your terminal). Moreover, it's important to know about which platform we are talking and how your code looks because there is probably something wrong with

[2018-11-26 09:29] techacorntest1 commented on #6
I have add proper size of tray Icon ( 96 x 96 pixels) then it works fine.

[2018-11-26 15:12] Jobeso commented on #6
@techacorntest1
Glad to hear that it's working for you now.

I use custom stickers in my app and it's working great. Nice add-on for users.

[2018-11-26 15:12] #6 closed

[2018-11-27 07:22] techacorntest1 opened #7 "can i use live url as a image_file inside contents.json"
i want to use sticker dynamically like:
content of my contents.json file can conatains "image_file": "https://www.router-reset.com/media/ZyXEL-NBG6816-Armor-Z1.jpg.webp"

How can i use it dynamically?

[2018-11-27 10:49] Jobeso commented on #7
@techacorntest1  This is not possible right now.

[2018-11-27 10:49] #7 closed

[2018-11-27 16:33] yoandypv opened #8 "android app debug crash after run in debug mode"
## Environment
Run `react-native info` in your terminal and paste its contents here.

[code]

## Description
He, after create my app with `react-native init rnStickers` and try `react-native run-android` (after install react-native-whatsapp-stickers && react-native link) the app try install in emulator, but aftet install successfully when try open crash. In this point the App.js doesn't have any p

[2018-11-27 18:55] Jobeso commented on #8
Hey @yoandypv,
you can use `adb logcat` to get error messages for Android native code or use Android Studio's Debug Mode. Moreover, I edited your commend in terms of formatting. Please take a look at [formatting on github](https://help.github.com/articles/basic-writing-and-formatting-syntax/) to present information in issues and comments better.

To your issue: This behaviour normally occurs when

[2018-12-01 20:54] grmmph opened #9 "Android Production Build error"
## Environment
[code]

## Describtion
Trying to build a release, getting an error.
`Execution failed for task ':react-native-whatsapp-stickers:verifyReleaseResources'.

  Output:  error: resource android:style/TextAppearance.Material.Widget.Button.Borderless.Colored not found.`

This makes me very sad :)

[2018-12-03 07:31] ReactNativeFan commented on #9
The component works fine for both Android and iOS. Therefore, i think the error is not related. I noticed that you are using react-native 0.57.7. This version gave me a headache and several building errors for other react-native components. I suggest to downgrade to 0.55.4 as follows

"react": "16.3.1",
"react-native": "0.55.4",

one more thing, try to disable the component and build your project

[2018-12-03 09:22] ReactNativeFan opened #10 "Sending multiple sticker packs on iOS overwrite each others in Whatsapp"
## Environment
Environment:
  OS: Windows 7
  Node: 10.9.0
  Yarn: 1.9.4
  npm: 6.2.0
  Watchman: Not Found
  Xcode: N/A
  Android Studio: Version  3.2.0.0 AI-181.5540.7.32.5056338

Packages: (wanted => installed)
  react: 16.3.1 => 16.3.1
  react-native: 0.55.4 => 0.55.4

## Describtion
Send sticker pack A then sticker pack B. Whatsapp will overwrite stickers of pack A by stickers of pack B.

##

[2018-12-03 09:27] ReactNativeFan opened #11 "Feature Requests"
## Discussion
All the things in life you ever wanted to discuss.

1. Can you please expose the following swift function in your react-native so one can send sticker as data rather than a filename in the bundle. This is very useful.!

func addSticker(imageData: Data, type: ImageDataExtension, emojis: [String]?)

2. does your current implementation set the following store links:
ios_app_store_link &

[2018-12-03 17:37] grmmph commented on #9
Nice!
It solved it but now the app is crashing when making a release build (works fine on debug)
package.json:
[code]

[code]

[2018-12-04 07:07] ReactNativeFan commented on #9
Try to remove the stickers component for now and build in release. if the problem persists, then there is something wrong with your project setting. If this is the case, start a new project "react-native init myStickerApp" then integrate the sticker component.

[2018-12-04 14:36] Jobeso commented on #10
@ReactNativeFan for sure. I created a PR https://github.com/Jobeso/react-native-whatsapp-stickers/pull/12. Are you currently available to test it?

[2018-12-04 14:41] Jobeso commented on #9
I support @ReactNativeFan analysis that this issue may not related to this library because `Button.Borderless.Colored` isn't used in here. I am using this library with react-native `55.7` so this should also not be the problem.
Let's try to isolate the issue. Please try to remove the dependency of this library and the code related to it and try to build again.

[2018-12-04 14:49] Jobeso commented on #11
Yeah, exposing the inner functions is possible but not neccessary for most cases. There also has to be a conversion step from js param to native param depending on what kind of data you want to insert. So it would be useful to get a bit more infos about your use case to discuss a solution how to move further. I'm open in expanding the functionality.

ios_app_store_link & android_play_store_link.

[2018-12-04 20:57] ReactNativeFan commented on #10
Works fine now.!

[2018-12-04 20:57] #10 closed

[2018-12-05 18:08] Jobeso commented on #3
closing this for now due to inactivity. Feel free to reopen it any time.

[2018-12-05 18:08] #3 closed

[2018-12-05 23:36] ReactNativeFan commented on #11
I really appreciate if you can add this feature soon.

**In the original template:**
-
StickerPackManager.swift
	func fetchStickerPacks
		the store links are set here:
			let iosAppStoreLink: String? = dict["ios_app_store_link"] as? String
			let androidAppStoreLink: String? = dict["android_play_store_link"] as? String
-
the function fetchStickerPacks is called inside AllStickerPacksViewController

[2018-12-05 23:38] ReactNativeFan commented on #11
I really appreciate if you can add this feature soon.

In the original template:
-
StickerPackManager.swift
	func fetchStickerPacks
		the store links are set here:
			let iosAppStoreLink: String? = dict["ios_app_store_link"] as? String
			let androidAppStoreLink: String? = dict["android_play_store_link"] as? String
-
the function fetchStickerPacks is called inside AllStickerPacksViewController.swi

[2018-12-07 19:39] grmmph commented on #9
Thanks for that guys.

Well as it seems the `Button.Bordereless.Colored` issue wan't related, the app crashing issue was related. Tried fresh install in both 0.48.4 0.55.4 and 0.55.7 versions, and for both installing this plugin made the app crash on release variant.
Any ideas?

These are my settings in build.gradle:

[code]

[2018-12-11 12:26] kesepara opened #13 "Stickers from URL"
Is it possible to add sticker packs to whatsapp from images which has fetched by url?

If not, is there any solution for this problem ? Maybe saving the image file first etc. ?

[2018-12-11 12:35] Jobeso commented on #13
Hey @kesepara,
this is currently not possible and not supported natively by WhatsApp. There are solutions to do that but I am currently not working on it. This is definitely something the library should support in the future. If there is someone willing to support on this, I'm glad for help.

[2018-12-11 12:42] kesepara commented on #13
Oh i see. I am working on a project right now that should contains this feature too. So i need to do this on my own. I will let you know when i did that. Do you have any ideas for me to do that quickly? Or any other plugins to work with to upload stickers from URL. For example i think that i need to use react-native-fs first to save the files first. Or do i need to save the files first?

Any sugge

[2018-12-13 12:40] Jobeso commented on #13
Yeah I try to give you some hints. First of all, is your project cross platform or only for one os?

[2018-12-13 12:55] kesepara commented on #13
Cross platform. I've created my project with "react-native init" command.

[2018-12-13 13:35] Jobeso commented on #13
So for iOS an approach could be to save them as a local image with rn-fs (like you mentioned) or to base64, convert them to imageData and add support of imageData to this library like discussed in #11. So there is a function `addSticker` in the native code in `StickerPack.swift` with `imageData` type as a parameter. This method is currently not exposed but could be an approach for you.
For Android

[2018-12-13 14:37] kesepara commented on #13
Thank you for hints. I'll let you know if i can make any progress.

[2018-12-14 09:21] digiperfect-janak opened #15 "Support lower minSdkVersion in android"
The native code provided by Whatsapp supports minSdkVersion 15. Is there any particular reason this plugin uses minSdkVersion 19? Would be good to support the broadest possible range.

[2018-12-20 07:46] digiperfect-janak commented on #3
I encountered this error when the image we were trying to read was WebP and not PNG  OR the file path was wrong.

[2018-12-28 19:06] PasinduDineth commented on #13
waiting for this feature. Thanks for the library. working fine!!

[2018-12-31 09:47] Jobeso commented on #15
The minSdkVersion 19 results out of my usecase and the versions I tested this library with. I know that WhatsApp supports lower minSdks but it is also a question of what react native supports.
I could ensure that it is working with minSdkVersion 19 propperly thats why I chose it.

If you want to support lower minSdks you can easily try it out. Please keep me (and everyone else) updated on wether i

[2019-02-14 13:23] Jobeso commented on #9
Closing this due to inactivity for now. Feel free to open it again anytime.

[2019-02-14 13:23] #9 closed

[2019-02-14 13:24] Jobeso commented on #8
Closing this due to inactivity for now. Feel free to open it again anytime.

[2019-02-14 13:24] #8 closed

[2019-02-20 15:13] srameshr commented on #13
Was this added to the plugin?

[2019-02-20 16:41] Jobeso commented on #13
@srameshr No I didn't implement it yet. I am actually thankful for help on that because I don't know a solution how to solve this on Android.
Do you have plans working on this?

[2019-02-20 17:58] srameshr commented on #13
@Jobeso Oh, sorry. I have no idea about it. Does it work on iOS though?

[2019-02-20 22:10] Jobeso commented on #13
@srameshr No the functionality is also not supported by default by this library for iOS but I posted a way how to achieve this above. This is only theoretically because the official library from WhatApp doesn't support this behaviour. The above mentioned would be a way I assume it to work on iOS.

[2019-02-26 13:59] mauriciogtaborda opened #16 "Framework not found WebP"
## Environment
Environment:
 OS: macOS High Sierra 10.13.6
 Node: 8.5.0
 Yarn: 1.7.0
 npm: 6.4.1
 Watchman: 4.7.0
 Xcode: Xcode 9.4.1 Build version 9F2000

i completed the installation and integration described in the docs but when i run my project shows this error.

ld: warning: directory not found for option '-L/Users/***/Library/Developer/Xcode/DerivedData/****-ayyjwebyaveiesgkcsfanqobqvie/Buil

[2019-02-27 17:40] Jobeso commented on #16
This usually means that the linking of the framework was not correctly done. See [this](https://github.com/Jobeso/react-native-whatsapp-stickers#integrate-webp-framework) section for instructions on how to add the WebP framework. I suggest you to start of again if you did some of these steps. The linking process with react-native is always difficult.

[2019-03-01 13:49] mauriciogtaborda commented on #16
i link the webP framework correctly again and i got the same error.

[2019-03-02 04:37] kkleeez commented on #16
I have the same problem and resolve it by adding
"$(SRCROOT)/../node_modules/react-native-whatsapp-stickers/ios"
in "Framework Search Paths" in Project Building Settings page

[2019-03-19 01:15] creeptosis opened #17 "whatsapp.send is undefined"
## Environment
React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
      Memory: 54.16 MB / 8.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 10.15.1 - /usr/local/bin/node
      Yarn: 1.5.1 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman

[2019-03-19 15:14] pandanr1 commented on #16
Same here. kkleeez solution does not help :/

`
React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (4) x64 Intel(R) Core(TM) i5-4278U CPU @ 2.60GHz
      Memory: 1.69 GB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.15.0 - /usr/local/bin/node
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SD

[2019-03-20 04:55] kkleeez commented on #16
Hi pandanr1, I forgot to mention in my solution. You need to set the search path to "recursive".

[2019-03-20 08:57] pandanr1 commented on #16
Works thank you so much kkleez!

[2019-03-20 09:03] pandanr1 opened #18 "Could not find auto-linked libraries (swift)"
## Environment
iOs

## Describtion
If you got an error when building your ios/xcode project like this:

ld: warning: Could not find auto-linked library 'swiftFoundation'...

## Solution

xCode -> Click File -> new File -> notused.swift -> Click yes when it asks for creating bridge-headers...

[2019-03-20 09:42] Jobeso commented on #16
Closing this for now, seems like it solved your problem.

If you are having the same issue, try the solution of @kkleeez in https://github.com/Jobeso/react-native-whatsapp-stickers/issues/16#issuecomment-468883862 and https://github.com/Jobeso/react-native-whatsapp-stickers/issues/16#issuecomment-474684449.

[2019-03-20 09:42] #16 closed

[2019-03-20 16:10] pandanr1 opened #19 "Does iOS need .png or .webp"
## Environment
iOS

## Describtion
Crashes when sending stickers to whatsapp

## Reproducible Demo
Does iOS need .png or .webp? .png is used in examples but does it make sense?

[2019-03-20 22:43] Jobeso commented on #19
On iOS you need to use png values. Yes, that means you have two times the same images, one in webp and one in png. I am aware that this is not optimal, I was running into errors as well when trying to use webp on iOS with the WhatsAppStickers SDK.

[2019-03-25 11:26] pandanr1 commented on #19
I added a folder image/ to xcode. The image folder contains a stickerpack1/ folder with the stickers in png. The tray_icon.png also lives in /images so the structure is like this:

``
images/
images/tray_icon.png
images/stickerpack1/
images/stickerpack1/sticker1.png
images/stickerpack1/sticker2.png
images/stickerpack1/sticker3.png
``

the app keeps crashing. So my question is - should i use for ex

[2019-03-27 09:12] Jobeso commented on #19
I gather my stickers in a folder in the root project. Then I reference my stickers directly in the method.
[code]

[2019-03-27 09:18] Jobeso commented on #17
Did you find some time to debug this further?
It might be a linking problem with the native files. `isWhatsAppAvailable` is a JS only function but the other ones are exported from native.

[2019-03-27 13:12] creeptosis commented on #17
Hi @Jobeso , I knew that the problem was with linking the native files I tried just about anything & couldn't get it to work. Would it be possible for you to provide a barebones project that is already linked? Thanks for the sticker lib, good stuff

[2019-03-27 14:00] Jobeso commented on #17
I want to include a sample project which also should make the testing for PRs easier. I can't tell you when I find time to finish this though. This would also require to change the project structure a bit.

[2019-04-04 12:59] Jobeso commented on #18
Thanks for this contribution. I added a troubleshooting section to the readme with this hint.

[2019-04-04 12:59] #18 closed

[2019-04-04 14:17] Jobeso commented on #17
@creeptosis Created a sample project. You can check it out [here](https://github.com/Jobeso/react-native-whatsapp-stickers/tree/master/example). Hope it helps you finding the problem.
When creating the example project I also needed to bump the `minSdkVersion`. After that android worked fine.
For iOS i noticed I needed to apply the solution from [this issue](https://github.com/Jobeso/react-native-w

[2019-04-20 01:45] Carlosarturo28 opened #21 "Error when generating signed APK"
## Environment
[code]
## Description
When trying to release a signed apk I get this message related to `react-native-whatsapp-stickers`

[code]

I read the solutions proposed here: [Android Production Build error #9](https://github.com/Jobeso/react-native-whatsapp-stickers/issues/9) but changing the react-native version didn't solved the problem.

All help is appreciated. Thank you!

[2019-04-20 14:53] Jobeso commented on #21
Hey @Carlosarturo28,
you may need to upgrade your `compileSdkVersion` and `buildToolsVersion`. It could also be related to packages not having the right version. Maybe [this issue](https://github.com/luggit/react-native-config/issues/299) can help.

You also find an example project in this repo. Try to diff your integration to that one. This might point you into a direction where this error is com

[2019-04-20 21:28] Carlosarturo28 commented on #21
Hey! I change this line from `node_modules/react-native-whatsapp-stickers/android/build.gradle`
[code]
to

[code]
(Yes, I deleted `buildToolsVersion` since that is not necessary anymore) and everything was OK.

I don't know if this should be like this for everyone or just me due to my config.

As this solution solved my problem, I'm closing this issue.

Thank you man!

[2019-04-20 21:28] #21 closed

[2019-04-24 08:56] pandanr1 commented on #10
Is this published to NPM? Everytime i install react-native-whatsapp-stickers from npm i get version 1.2.0 but without the changes from PR #12:

I see: try StickerPack(identifier: "identifier", ...

But it has to be: try StickerPack(identifier: RCTConvert.nsString(config["identifier"]),

So it keeps overwriting packs on iOS...

[2019-04-24 20:13] Jobeso commented on #10
@pandanr1 Yes, you are right. The newest version contains these changes now.

[2019-05-13 08:06] pandanr1 commented on #10
@Jobeso Awesome! Thank you!!!

[2019-05-22 11:55] pandanr1 opened #22 "Multilanguage Stickerpack Names"
## Discussion
Because we set "name": "..." in contents.json its difficult to use multilanguage names for stickerpacks. Is there any working solution for multilanguage apps?

[2019-06-07 09:10] pureth commented on #13
@Jobeso thanks for taking the time to outline how this could be done on iOS.
The description was useful to me. (as is this entire repo, really awesome!)

I'm just wondering if anything has changed with what you said about Android?

Any further info here would be greatly appreciated!

Cheers,
Jo

[2019-06-07 17:46] Jobeso commented on #13
Hey @pureth,
glad to hear that this library helps you :)
I browsed the [WhatsApp sticker repo](https://github.com/WhatsApp/stickers) issues lately and found some hints how people implemented this behaviour on the native side but I didn't find the time to dig deeper into it yet.

[2019-06-11 14:07] vasconcelosvcd commented on #13
@Jobeso is there any repo that I can see where did you stop so I can try to help you ?

[2019-06-11 14:44] #19 closed

[2019-06-12 08:43] Jobeso commented on #13
Hey @vasconcelosvcd,
great to hear that you want to help out, appreciate it. I think the repo you posted is a good lead. They also added some info to their readme about that [here](https://github.com/WhatsApp/stickers/blob/master/Android/README.md#expose-files-that-are-stored-internally-as-stickers-through-contentprovider).
When I remember correctly my main problem was that the content provider or

[2019-07-02 16:56] aj-anuragjain opened #26 "Build failed after installation"
## Environment
React Native Environment Info:
    System:
      OS: macOS 10.14.5
      CPU: (4) x64 Intel(R) Core(TM) i5-6360U CPU @ 2.00GHz
      Memory: 24.54 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.16.0 - ~/.nvm/versions/node/v8.16.0/bin/node
      Yarn: 1.16.0 - /usr/local/bin/yarn
      npm: 6.4.1 - ~/.nvm/versions/node/v8.16.0/bin/npm
      Watchman: 4.9.0 -

[2019-07-30 13:03] yojik94 opened #29 "Gradle bug on build"
Hi, after install this package on build I see error
Deprecated Gradle features were used in this build, making it incompatible with Gradle 6.0." , and "error Failed to install the app". How I can solve this problem?
![image](https://user-images.githubusercontent.com/37308889/62131343-ae1d8000-b2e3-11e9-9364-f2b916c9db7a.png)

[2019-07-31 12:01] Daha62 opened #30 "IOS build failed"
## Environment
  System:
      OS: macOS 10.14.5
      CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
      Memory: 34.07 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 12.6.0 - /usr/local/bin/node
      Yarn: 1.17.3 - /usr/local/bin/yarn
      npm: 6.9.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platforms:

[2019-08-05 04:26] #30 closed

[2019-08-22 11:40] tikkichan4 opened #33 "Add support for React Native 0.60"
## Discussion
React Native 0.60 now require linking native modules with cocoapods.
After i upgraded to 0.60, react-native-whatsapp-stickers would returns error with manual linking.

I tried to migrate it to Pod project, but swift files seems not worked with Pod project.

Any workaround for this ? it is really important to me. Thanks a lot

[2019-08-22 14:09] Jobeso commented on #33
Cocoapods supports swift as well. The podfile that you need to create for that needs to include all the files, so swift files and the webp framework files. Maybe the Framework search path needs to change to find the snap sdk pod and most importantly the `use_frameworks!` flag needs to be set in podfile in order to work with swift pods. The missing support from RN of this was in the past the bigges

[2019-08-23 04:54] tikkichan4 commented on #33
Thanks for your reply. i had tried to add `use_framework! `to pod before opening the issue. But it will returns the error:
![image](https://user-images.githubusercontent.com/18086245/63567615-e93e6680-c5a4-11e9-81af-9ce2d729f286.png)

And when i remove use_frameworks! and react-native-whatsapp-stickers, my project can be built successful, so i am sure this is the problem with using use_frameworks!

[2019-11-11 12:02] iamkatta opened #36 "Unable to open app"
Hello,

I have added the package to my project and in build the project, build installed the app in the emulator, but where ever i try to open the app its throwing the error with the message "app is stopped".

I need the help.

Thanks

[2019-11-12 10:23] Jobeso commented on #33
v2.0.0 was just released which adds RN 0.60 support. Please reopen the issue if your problem still persists.

[2019-11-12 10:23] #33 closed

[2019-11-12 10:23] Jobeso commented on #29
v2.0.0 was just released which adds RN 0.60 support. Please reopen the issue if your problem still persists.

[2019-11-12 10:23] #29 closed

[2019-11-12 10:23] Jobeso commented on #26
v2.0.0 was just released which adds RN 0.60 support. Please reopen the issue if your problem still persists.

[2019-11-12 10:23] #26 closed

[2019-11-12 10:24] Jobeso commented on #17
v2.0.0 was just released which adds RN 0.60 support. Please reopen the issue if your problem still persists.

[2019-11-12 10:24] #17 closed

[2019-11-12 10:25] Jobeso commented on #22
Apparently, there is no work from my side going on in this direction.

[2019-11-12 10:25] Jobeso commented on #36
v2.0.0 was just released which adds RN 0.60 support. Please reopen the issue if your problem still persists.

[2019-11-12 10:25] #36 closed

[2019-11-12 14:59] iamkatta commented on #36
Hello,
I have installed the new version but got the same response.

[2019-12-18 01:03] bhavindhodia opened #40 "Not all Stickers are listed in Whatapp"
## Environment
System:
    OS: Windows 10 10.0.18362
    CPU: (4) x64 Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz
    Memory: 1.78 GB / 7.91 GB
  Binaries:
    Node: 12.10.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.19.2 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.13.4 - C:\Program Files\nodejs\npm.CMD
  IDEs:
    Android Studio: Version  3.5.0.0 AI-191.8026.42.35.6010548
  npmPackages

[2019-12-22 07:00] ursNj commented on #13
Any update on this ???

[2019-12-31 19:52] JonNieves opened #42 "In Android, I'm able to create/add a sticker pack in whatsapp, but the sticker pack is empty. No error messages."
## Environment
System:
    OS: macOS 10.15.1
    CPU: (8) x64 Intel(R) Core(TM) i7-4850HQ CPU @ 2.30GHz
    Memory: 2.45 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.13.0 - /usr/local/bin/node
    npm: 6.12.0 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 13.2, DriverKit 19.0, macOS 10.15, tvOS 13.2, watchOS 6.1

[2020-01-02 22:17] JonNieves commented on #42
Nevermind! I solved it!

The issue was my webp images. (-__-) Or rather, how I made them. I used GIMP, exporting them from png.

Don't use GIMP.

Use this: https://squoosh.app/

[2020-01-02 22:19] JonNieves commented on #40
I had a similar issue.

Use this (https://squoosh.app/) on all your images.

Worked for me

[2020-01-03 08:53] #42 closed

[2020-01-14 06:26] hszeto opened #43 "iOS build failed"
## Environment
System:
    OS: macOS Mojave 10.14.6
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Memory: 1.18 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.13.1 - /usr/local/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.12.1 - /usr/local/bin/npm
  SDKs:
    iOS SDK:
      Platforms: iOS 13.2, DriverKit 19.0, macOS 10.15, tvOS 13.2, watchOS 6.1

[2020-01-14 08:06] hszeto commented on #43
I recreate the app and things seems to work now.

[2020-01-14 08:06] #43 closed

[2020-01-14 08:12] hszeto opened #44 "iOS: createStickerPack is not a function"
## Environment
System:
    OS: macOS Mojave 10.14.6
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Memory: 215.81 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.13.1 - /usr/local/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.12.1 - /usr/local/bin/npm
  SDKs:
    iOS SDK:
      Platforms: iOS 13.2, DriverKit 19.0, macOS 10.15, tvOS 13.2, watchOS 6.

[2020-01-14 23:28] hszeto commented on #44
I might have figured it out.
after `yarn add react-native-whatsapp-stickers`

1. `cd ios`
2. `pod install --no-repo-update` (This installs new item without updating existing pods)
3. `cd ..`

Clean Build in Xcode

[2020-01-15 01:08] hszeto opened #45 "iOS: image files not found"
## Environment
System:
    OS: macOS Mojave 10.14.6
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Memory: 1.31 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.13.1 - /usr/local/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.12.1 - /usr/local/bin/npm
  SDKs:
    iOS SDK:
      Platforms: iOS 13.2, DriverKit 19.0, macOS 10.15, tvOS 13.2, watchOS 6.1

[2020-01-15 10:13] #44 closed

[2020-01-15 10:31] hszeto commented on #45
The problem is my incompetent with Xcode. Problem solved.

[2020-01-15 10:31] #45 closed

[2020-01-16 10:15] imdadhussain004 opened #46 "_reactNativeWhatsappStickers.default.send is not a function"
send function is giving error for Android.
I have check react-native-whatsapp-stickers node_modules index file.

`import { Linking, NativeModules } from 'react-native'

const { RNWhatsAppStickers } = NativeModules

const isWhatsAppAvailable = () =>
  new Promise((resolve, reject) =>
    Linking.canOpenURL('whatsapp://send')
      .then(supported => resolve(supported))
      .catch(e => reject(e))

[2020-01-16 19:59] hszeto commented on #46
Are you using expo?

[2020-01-17 12:11] imdadhussain004 commented on #46
@hszeto No I'm using react native cli

[2020-01-20 06:33] Arslan106 commented on #46
me too having the same problem @hszeto

[2020-01-20 12:39] Arslan106 commented on #46
@hszeto ihave just saw you repo you are using somthing like this in package.json file
` "react-native-whatsapp-stickers": "file:..",`
please explain it...

[2020-01-21 08:29] Jobeso commented on #46
@Arslan106 This is just for easier debugging. When you use the example repo it uses the master from one folder above as a dependency and not the released npm package.

[2020-01-21 09:02] Arslan106 commented on #46
@hszeto thanks for replay, so what should i do because i am getting this error

but when i clone your project it work fine

[2020-02-03 06:28] imdadhussain004 commented on #46
We resolved the issue by following this link
[https://github.com/antoniomdk/react-native-whatsapp-stickers](url)

Actually there was linking issue, and it was resolved after following above configurations.

[2020-02-11 09:09] hszeto opened #47 "Xcode app validation errors"
## Environment
System:
    OS: macOS Mojave 10.14.6
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Memory: 113.38 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.13.1 - /usr/local/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.12.1 - /usr/local/bin/npm
  SDKs:
    iOS SDK:
      Platforms: iOS 13.2, DriverKit 19.0, macOS 10.15, tvOS 13.2, watchOS 6.

[2020-03-21 06:02] malithjkmt commented on #13
Has anyone got a PR for this? :)

[2020-03-22 22:07] hszeto commented on #47
hmmm... anyone?

[2020-03-26 09:05] Jobeso commented on #47
You don't have the 120x120. It is the easiest to do this via Xcode because you see the icons you are missing. Maybe this will help you.
[https://stackoverflow.com/questions/28170520/ios-how-to-set-app-icon-and-launch-images/45122603](https://stackoverflow.com/questions/28170520/ios-how-to-set-app-icon-and-launch-images/45122603)

As this error is not related to this library, I'll close the issue.

[2020-03-26 09:05] #47 closed

[2020-03-28 13:16] mvanroon opened #50 "Check number of emoji's"
Currently, if more than three emoji's are provided for a certain sticker, the following error is thrown:
"Error: an unknown error occured for whats app stickers". This is because [WhatsApp doesn't allow more than three emoji's](https://github.com/WhatsApp/stickers/tree/master/iOS#modifying-the-sticker_packswasticker-file). Perhaps we can check the length of the list provided as the second argument

[2020-05-09 01:26] mr94valerio opened #51 "[Android]There's a problem with this sticker pack and it can't be added to WhatsApp"
Hi guys i have this problem and i can't find a solution. Those are the steps i made:

[code]
in build.gradle done

android\app\src\main\assets -

contents.json ----- file
powa ------ folder

Inside powa folder
sk.webp
try.png

This is json file structure:
[code]
to conclude this the js part
[code]

What i'm doing wrong?

[2020-05-10 00:57] mr94valerio commented on #51
Changing identifier and file name i solved

[2020-05-10 00:57] #51 closed

[2020-05-17 15:42] mr94valerio opened #52 "Try Icon not found iOS"
Hi guys i got "an unknown error occured for whats app stickers" in the log when it try to create Stickerpack object beacuse try icon is not found.
Can you explain me wich is the correct project structure i place my folders everywhere i don't know how to fix.
I place my folder with tryicon in ios project-folder, in ios root, in my react-native root. I also tryed to put my try icon alone in the same

[2020-07-15 10:13] ibrahim5511 opened #53 "IOS - Error: an unknown error occured for whats app stickers"
This is my code:
  sendPack () {
    if(this.state.isAvailable == false){
      return Alert.alert('whatsapp is not available');
    }
    const { stickers, ...packConfig } = stickerConfig;
    if (Platform.OS === 'ios') {
      **return RNWhatsAppStickers.createStickerPack(packConfig)**
      .then(() => {
        const promises = stickers.map(item =>
          RNWhatsAppStickers.addSticker(item.

[2020-12-05 14:44] ornakash opened #56 "Add multiple packages in contents.json"
I tried to add multiple packages to contents.json but it says "there is a problem with this sticker pack and it can't be added to whatsapp". The only one that works is the first package no matter how packages I add...

here's my code:
[https://pastebin.com/Wj5nNi11](https://pastebin.com/Wj5nNi11)
Could you tell me what I did wrong?

thank you!

[2020-12-06 13:56] ornakash commented on #56
The webp image I had in the other packages were bigger than 512px, I solved it when changed them to exactly 512X512.

Thank you!

[2020-12-06 13:56] ornakash commented on #56
The webp image I had in the other packages were bigger than 512px, I solved it when changed them to exactly 512X512.

Thank you!

[2020-12-06 13:56] #56 closed

[2021-01-15 16:31] kaneki666 opened #58 "debug mode working fine..i get this error when i build release apk"
Task :react-native-whatsapp-stickers:verifyReleaseResources FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-whatsapp-stickers:verifyReleaseResources'.

     C:\Users\User\.gradle\caches\transforms-2\files-2.1\37631cd0ab1b46aeb23414622984ad25\appcompat-1.0.2\res\values-v26\values-v26.xml:5:5-8:13: AAPT: error: resource android:attr/color

[2021-01-15 17:47] 2b-dev commented on #58
Sorry, this not about your issues,
I use React Native 0.63.4 and Install this package ( yarn add react-native-whatsapp-stickers )
but i can't open app ( npx react-native run-android )
can u help me ?

[2021-01-15 17:50] kaneki666 commented on #58
What error u get? Show it

[2021-01-15 18:01] 2b-dev commented on #58
can't open app
// run and not open anything

[2021-01-15 18:11] 2b-dev commented on #58
Ok I know, I should create Assets, contents.json :)

[2021-01-22 11:57] #58 closed

[2021-01-27 10:54] kaneki666 opened #59 "Is there way we can check which pack already been added"
The android whatsapp package has this feature..so i was wondering!

[2021-02-03 07:32] kaneki666 commented on #40
i tried the website not working for me

[2021-02-03 16:07] Jobeso commented on #40
Hey @kaneki666
Can you check on the size of your images?
Maybe compare the size of the ones working with the ones that are not. I guess WhatsApp has some restrictions on size as well. I think this is also what @JonNieves is suggesting.
I hope this helps :)

[2021-04-14 10:17] Haseeba393 opened #61 "Unable to get provider com.jobeso.RNWhatsAppStickers.StickerContentProvider"
## Environment
System:
    OS: macOS 10.15.6
    CPU: (4) x64 Intel(R) Core(TM) i5-4308U CPU @ 2.80GHz
    Memory: 36.40 MB / 8.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 12.18.3 - /usr/local/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 7.6.3 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Managers:
    CocoaPods: 1.10.1 - /usr/local/bin/pod
  SDKs:

[2021-04-19 17:35] Jobeso commented on #61
It looks like something with the content.json is wrongly configured. Maybe a file missing or a name is wrong. Also it's important that the files have the correct format (webp etc.).

[code]

[2021-04-20 11:07] Haseeba393 commented on #61
yes, i have followed the exact documentation but nothing is happening

On Mon, 19 Apr 2021 at 22:35, Jobeso ***@***.***> wrote:

[2021-05-04 04:45] Pcpkomputer commented on #13
up up

[2021-05-20 15:24] Gnanavel76 commented on #51
Hi, I am also getting same error. I tried changing identifier and file name. It didn't worked. What to do?

[2021-05-30 12:49] teaganharatua opened #68 "animated stickers"
## Environment
System:
    OS: Linux 5.11 Pop!_OS 20.04 LTS
    CPU: (8) x64 Intel(R) Core(TM) i7-4910MQ CPU @ 2.90GHz
    Memory: 505.36 MB / 15.27 GB
    Shell: 5.0.17 - /bin/bash
  Binaries:
    Node: 12.22.1 - ~/.nvm/versions/node/v12.22.1/bin/node
    Yarn: Not Found
    npm: 6.14.12 - ~/.nvm/versions/node/v12.22.1/bin/npm
    Watchman: Not Found
  SDKs:
    Android SDK:
      API Levels: 23,

[2021-09-06 12:02] HossamBhi commented on #46
@hszeto Can you told me how i solve this problem?

[2021-11-14 20:24] CrackerKSR commented on #13
I found a guide on medium But I could not use it as I just resume learning android after 3 years
[Part 1](https://medium.com/bobble-engineering/dynamic-whatsapp-stickers-part-1-android-2ac00dc57111)
{Part 2}(https://medium.com/bobble-engineering/how-to-create-dynamic-whatsapp-stickers-part-2-android-b0e3d433984b)

I hope this will help someone who is looking for it

[2022-01-20 08:14] vinilprabhu opened #75 "Android app wont open"
## Environment
System:
    OS: Linux 5.15 Pop!_OS 21.10
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 12.66 GB / 31.21 GB
    Shell: 5.1.8 - /bin/bash
  Binaries:
    Node: 14.17.6 - ~/.nvm/versions/node/v14.17.6/bin/node
    Yarn: Not Found
    npm: 6.14.15 - ~/.nvm/versions/node/v14.17.6/bin/npm
    Watchman: Not Found
  SDKs:
    Android SDK:
      API Levels: 23, 29, 3

[2022-02-01 11:55] Silventino commented on #75
Same error, but it seems like this package is not maintained anymore

[2022-02-01 20:19] Silventino commented on #75
My contents.json file was in the wrong place 🤦 causing the app to crash.
Maybe it's the same problem with your app?

[2022-02-22 23:17] redpandatronicsuk opened #78 "Not building with latest react-native"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-whatsapp-stickers@2.0.2` for the project I'm working on.

This patch fixes build issues with newer react-native versions.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.

[2022-05-25 13:41] anirban-baisya opened #81 "react-native-whatsapp-stickers getting success but not exported to whatsapp or not working properly"
1st go to :- node_modules > react-native-whatsapp-stickers > android > src> main > java > com > jobeso > RNWhatsAppStickers >RNWhatsAppStickersModule.java

2nd :- comment out below lines from @ReactMethod public void send(String identifier, String stickerPackName, Promise promise) { ... } section

[code]

[2022-07-21 07:03] ReactNativeFan commented on #81
@anirban-baisya
I am having the same problem with react-native 0.69. I am not getting any information in debug mode.
did you find a solution or at least what was the problem?
Thanks.

[2022-07-22 20:16] ReactNativeFan commented on #81
After debugging RNWhatsAppStickersModule.java, i found that the following activity was failing:

**ResolveInfo should = activity.getPackageManager().resolveActivity(intent, 0);**

The problem happens if you are targeting android 11 (API 30 or higher) which is the default settings for ReactNative 0.69.

Android 11 introduces new changes related to package visibility, which will require adding some